/*! ========================================================================
* NIFTY ADMIN TEMPLATE V2.9
* -------------------------------------------------------------------------
* - ThemeOn.net -
* =========================================================================
*
*
*
* IMPORTANT :
* ===================================================================================================
* DON'T EDIT ANY CODE HERE, JUST LEAVE IT.
*
* You may edit the default color scheme.
* You may change the variable value inside the _variables.LESS file and re-compiling using this file.
*
* If you make changes directly in the CSS and/ or LESS-files from Nifty,
* it will be hard to update if we release an update.
*
* So we would recommend to create a new CSS/ LESS-file for this purpose.
*
*/

/* NIFTY NOTIFICATION */
/*======================================*/
.alert-wrap {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.7s linear;
}
.alert-wrap > .alert {
  margin: 0;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
  border-radius: 0;
  text-align: left;
}
.alert-wrap > .alert > .media {
  margin: 0;
  padding-right: 15px;
}
.alert-wrap > .alert > .media > .media-body {
  min-width: 150px;
  width: auto;
  vertical-align: middle;
}
#page-alert > .alert-wrap > .alert {
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.04);
}
.alert-wrap.in {
  max-height: 500px;
  transition: max-height 1s linear;
}
.floating-container .animated.alert-wrap {
  overflow: visible;
}
.floating-container .animated.alert-wrap > .alert {
  border-radius: 3px;
}
.alert-message,
.alert-title {
  margin-bottom: 1px;
  padding-right: 2ex;
}
.alert-title {
  font-size: 1.12em;
}
.alert-title:empty {
  display: none;
}
.alert-primary .alert-icon {
  color: #fff;
}
.alert-info .alert-icon {
  color: #fff;
}
.alert-success .alert-icon {
  color: #fff;
}
.alert-warning .alert-icon {
  color: #fff;
}
.alert-danger .alert-icon {
  color: #fff;
}
.alert-mint .alert-icon {
  color: #fff;
}
.alert-purple .alert-icon {
  color: #fff;
}
.alert-pink .alert-icon {
  color: #fff;
}
.alert-dark .alert-icon {
  color: #fff;
}
/* Floating */
/*======================================*/
#floating-top-right {
 /* position: fixed;*/
  text-align: right;
  top: 7px;
  right: 7px;
  left: 7px;
  z-index: 99999;
  max-width:300px;
  float:right;
}
#floating-top-right .alert-wrap {
  display: inline-block;
  clear: right;
  float: right;
  margin-bottom: 5px;
  position: relative;
  opacity: 1;
  z-index: 990;
}
.pci-hor-dots,
.pci-ver-dots {
  height: 1.1em;
  width: .55em;
  display: block;
  position: relative;
}
.pci-hor-dots:before,
.pci-ver-dots:before {
  content: '';
  height: .255em;
  width: .255em;
  background-color: #7a878e;
  display: block;
  position: absolute;
  top: 0;
  left: .25em;
  box-shadow: 0 0.45em 0 #7a878e, 0 0.9em 0 #7a878e;
}
.pci-hor-dots {
  transform: rotate(90deg);
}
.pci-cross:after,
.pci-cross:before {
  content: '';
  box-shadow: inset 0 0 0 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pci-cross:after {
  height: .8em;
  width: 2px;
}
.pci-cross:before {
  width: .78em;
  height: 2px;
}
.pci-cross {
  display: block;
  width: 1.3em;
  height: 1.3em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pci-circle {
  border: 1px solid;
  border-radius: 50%;
}
.pci-chevron:before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  height: 0.55em;
  position: relative;
  top: -0.05em;
  left: 0;
  vertical-align: middle;
  width: 0.55em;
}
.pci-chevron.chevron-up:before {
  transform: rotate(-45deg);
}
.pci-chevron.chevron-right:before {
  transform: rotate(45deg);
}
.pci-chevron.chevron-down:before {
  top: -0.2em;
  transform: rotate(135deg);
}
.pci-chevron.chevron-left:before {
  transform: rotate(-135deg);
}
.pci-caret-down,
.pci-caret-up,
.pci-caret-left,
.pci-caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: .8em solid;
  border-right: .5em solid transparent;
  border-left: .5em solid transparent;
}
.pci-caret-up {
  border-top-width: 0;
  border-bottom: .8em solid;
}
.pci-caret-left {
  border-bottom: .5em solid transparent;
  border-top: .5em solid transparent;
  border-right: .8em solid;
  border-left-width: 0;
}
.pci-caret-right {
  border-bottom: .5em solid transparent;
  border-top: .5em solid transparent;
  border-left: .8em solid;
  border-right-width: 0;
}