
/*// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}*/

/*@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import "style";
@import "fontawesome-all";*/

/*@import "css/animate";
@import "css/basic-admin";
@import "css/bootstrap.min";
@import "css/fancy-buttons";
@import "css/fancy-dropdown";
@import "css/filter";
@import "css/font-awesome.min";
@import "css/lightgallery";
@import "css/linea-icon";
@import "css/material-design-iconic-font.min";
@import "css/pe-icon-7-stroke";
@import "css/pe-icon-7-styles";
@import "css/sb-admin";*/
@import "css/style";
//@import "css/themify-icons";



